* {
    box-sizing: border-box;
}

button {
    cursor: pointer;
}

@font-face {
    font-family: Consolas;
    src: url("source/fonts/consola.ttf");
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px;
    background: #FFE600;
    border-bottom: 3px solid #CECECE;
    position: fixed;
    top: 0;
}

.logo {
    width: 300px;
    height: 140px;
}

.auth-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-family: Consolas, serif;
    font-size: 25px;
    color: black;
}

.auth-menu .profile {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

header a {
    text-decoration: none;
    color: inherit;
}

.auth-btn {
    margin-right: 30px;
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border: 5px solid #CECECE;
    box-sizing: border-box;
    border-radius: 45px;
    text-align: center;
    padding: 10px 0;
}

.auth-btn.profile {
    padding: 0 20px;
    width: auto;
}

.auth-menu p {
    margin-right: 20px;
}

.hidden {
    display: none;
}