* {
    box-sizing: border-box;
}

@font-face {
    font-family: Consolas;
    src: url("source/fonts/consola.ttf");
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    background: #FFE600;
    border-bottom: 3px solid #CECECE;
}

.logo {
    width: 300px;
    height: 140px;
}

.auth-menu {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    font-family: Consolas, serif;
    font-size: 25px;
    color: black;
}

header a {
    text-decoration: none;
    color: inherit;
}

.auth-btn {
    margin-right: 30px;
    width: 200px;
    height: 60px;
    background: #FFFFFF;
    border: 5px solid #CECECE;
    box-sizing: border-box;
    border-radius: 45px;
    text-align: center;
    padding: 10px 0;
}

.auth {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.auth-header {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    background-color: #FFE600;
    margin: 50px 0;
}

.auth-header img {
    height: 140px;
    width: 300px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    justify-content: space-around;
    width: 500px;
    background: #FFFFFF;
    border: 5px solid #CECECE;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 45px;
    padding: 50px;
    box-sizing: border-box;
}
.auth-input-field input,
.auth-input-field {
    text-align: left;
    font-family: Consolas, serif;
    font-size: 25px;
}

.auth-input-field input {
    height: 40px;
    width: 400px;
    padding: 10px;
    background: #CECECE;
    border: 2px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    margin-bottom: 30px;
}

.checkbox-submit {
    display: flex;
    justify-content: space-between;
    width: 400px;
    font-family: Consolas, serif;
    font-size: 20px;
    align-items: center;
}

.checkbox-submit label {
    display: flex;
    align-items: center;
}

.checkbox-submit label input {
    width: 30px;
    height: 30px;
}

.checkbox-submit button {
    width: 120px;
    height: 60px;
    background: #FFE600;
    border: 3px solid #000000;
    box-sizing: border-box;
    border-radius: 15px;
    cursor: pointer;
}

