.tasks {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin-top: 210px;
    width: 100%;
}

.task,
.task-details {
    font-size: 20px;
    font-family: Consolas, serif;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    background: #F2F2F2;
    border: 5px solid #CECECE;
    box-sizing: border-box;
    border-radius: 45px;
    padding: 20px 40px;
    margin: 0 20px 20px 20px;
    height: 130px;
    word-break: break-word;
}

.task:hover {
    border: 5px solid black;
    transition: 200ms;
}

.task-info {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
}

.task-top-info {
    display: flex;
    justify-content: space-between;
    color: black;
    padding-bottom: 10px;
}

.task-description {
    align-self: flex-start;
    color: #787878;
}

.task-progress {
    padding-left: 20px;
    margin-left: 20px;
    font-size: 50px;
    border-left: 5px solid #CECECE;
    word-break: normal;
}

.info-tab {
    position: fixed;
    border-left: 3px solid #CECECE;
    background-color: white;
    width: 30vw;
    height: 100vh;
    padding: 0 10px;
    left: 70vw;
    top: 170px;
    overflow-y: hidden;
    overscroll-behavior: contain;
}

.info-tab-content {
    display: flex;
    align-items: flex-start;
}

.info-tab-task {
    flex-grow: 1;
}

.info-tab .close-btn {
    background: #FFFFFF;
    min-width: 40px;
    padding: 0;
    border: none;
}

.info-tab .task-details {
    margin: 0;
    padding: 20px 0 0;
    list-style-type: none;
    word-break: break-word;
}

.info-tab .task-details li {
    margin-bottom: 20px;
}